
/* cgi color pallate:
grey:  	#585550
light grey:  	#AAAAAE
blue: #0100AB
light blue: #5654FF
green: #00AA01
light green: #55FF56
cyan: #00AAAA
light cyan:  	#55FFFF
red: #A90100
light red: #FF5555
magenta: #AA00A9
light magenta: #FE55FE
brown:  	#AB5500
yellow: #FEFF54

*/

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=VT323');


body{
  /* font-family: 'Press Start 2P'; */
    font-family: 'VT323';
    font-size: 24px;
    text-align: center;
    background-color: black;
}

/* links */
a:link {
  color: white; /* light blue */
}
a:visited {
  color: white;
}

/* Outer Container */
.outerbound {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 5px;
  color: #AAAAAE
}

/* Navbar start */
.navbar {
  display: table;
border: 1px solid black;
	margin: 0 auto;
}

ul#navlist {
	list-style: none;
	}

ul#navlist li {
	display: inline;
  padding: 50px;
}

h1 {
font-size: 50px;
text-align: center;
color: #FEFF54;
  margin: 5px;
}
/* Navbar end */

/* page titles */
h2 {
  font-size: 40px;
  text-align: center;
  color: white;
  margin: 0px;

}
/* page Container */
.pagebound {
  background-color: #585550 ;
  border: 3px double black;
  display: flex;
  flex-direction: column;
  padding: 5px;
  align-items: center;
  justify-content: flex-start;
}

/* item Container */
.itembound {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.indexitem {
  background-color: #AB5500;
  color: black;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 5px;
  align-items: center;
  justify-content: center;
  width: 300px;

}

.imgframe {
  background-color: #FEFF54;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 5px;
  align-items: center;
  justify-content: center;

}
.itemimg {
  background-color: white;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 5px;
  align-items: center;
  justify-content: center;
}



.attrlist{
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 5px;
  align-items: left;
  justify-content: left;
}

.cclasslist{
  display: flex;
flex-direction: row;
padding: 10px;
margin: 5px;
}

.textitem {
  background-color: #AB5500;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  align-items: center;
  justify-content: center;
}

.stocktag {
  background-color: #A90100;
  position: relative;
  z-index: 2;
  left: 50px;
  border: 1px solid black;
  font-size: 12px;
  width: 30px;
  height: 30px;
  padding: 4px;

}

.stocktagadj1 {
  top: 35px;
}

.stocktagadj2 {
  top: 5px;
}
.nostock {
  border: 3px solid black;
  border-color: red;
  padding: 2px;
}

.itmimgbump{

  position: relative;
  bottom: 20px;
}


.buyandsell {
  background-color: #00AA01 ;
  border: 3px double black;
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 5px;
  justify-content: left;
}

.bslabel {
width:150px;
text-align: left;
float: left;
}

.bsfield {
  width: 50px;
}

.navinline {
  display: flex;
  flex-direction: row;
  padding: 5px;
  justify-content: center;
  align-items: center;

}

.formfmt{
  font-family: 'VT323';
  font-size: 24px;
}

.hilite {
  background-color: #00AA01 ;
  color: white;
  border: 3px double black;
}

.hide {
  visibility: hidden;
}

.formarea {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
  padding: 5px;
  justify-content: right;
  align-items: right;
}

.formgroup {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  margin: 5px;
  padding: 5px;
  width: 350px;

}

.bsgroup {
  display: flex;
  flex-direction: row;
}

.bsbutton {
  width: 70px;
}

.halfwidth {

  width: 50px;
}
