<h2>Category List</h2>

<a href="/cats/new">Add New Category</a>

<hr/>

<div class="itembound">
<% @cats.each do |cat| %>
<div class="indexitem">
<p><%= cat.name %></p>

<a href="/cats/del/<%=cat.id %>">Delete</a>
</div>
<% end %>
</div>
