
<p>Create a new item!</p>
<br>
<form action="/shop" method="post">
<label for="name">Name:</label>
<input type="text" name="name" id="name">
<br>
<br>
<label for="description">Description:</label>
<input type="text" name="description" id="description"  size="60" >
<br>
<br>


<label for="type_id">Type:</label>
<select name="type_id" id="type-id">
<% @types.each do |type| %>
    <option value=<%= type.id %>><%= type.name %> (<%= type.category.name %>)</option>
<% end %>
</select>

<br>
<br>
<label for="image_name">Image Name:</label>
<input type="text" name="image_name" id="image-name">
<br>
<br>
<label for="quantity">Quantity:</label>
<input type="number" name="quantity" id="quantity">
<br>
<br>
<label for="level">Level:</label>
<input type="number" name="level" id="level">
<br>
<br>
<label for="effects">Effects:</label>
<input type="text" name="effects" id="effects">
<br>
<br>
<label for="buy_price">Buy Price:</label>
<input type="number" name="buy_price" id="buy-price">
<br>
<br>
<label for="sell_price">Sell Price:</label>
<input type="number" name="sell_price" id="sell-price">
<br>
<br>
  <input type="submit" value="Create Item">
</form>
