<h2>Character Class List</h2>

<a href="/cclass/new">Add New Character Class</a>

<hr/>
<div class="itembound">
<% @cclasses.each do |cclass| %>
<div class="indexitem">
<p>Name: <%= cclass.name %></p>

<a href="/cclass/del/<%=cclass.id %>">Delete</a>

</div>
<% end %>
</div>
