<p>This is all the Character Classes</p>

<ul>
  <li>
    <a href="/cclass/new">Add New Character Class</a>
  </li>
</ul>

<hr/>

<% @cclasses.each do |cclass| %>
<p>Name: <%= cclass.name %></p>

<a href="/cclass/del/<%=cclass.id %>">Delete</a>

<hr/>
<% end %>
