<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Adventurer's Shop!</title>
    <link rel="stylesheet" href="/style.css">
  </head>

<div class="outerbound">


  <body>
    <nav class="navbar">
      <ul id="navlist">
        <li>
          <a href="/shop">Index Page</a>
        </li>
        <li>
          <a href="/types">Type List</a>
        </li>
        <li>
          <a href="/cats">Category List</a>
        </li>
        <li>
          <a href="/cclass">Character Class List</a>
        </li>
        <li>
          <a href="/ctrel">Relationship List</a>
        </li>
      </ul>
    </nav>

    <h1>Welcome to the Adventurer's Shop!</h1>
    
<div class="pagebound">
    <%= yield %>
</div>

  </body>
  <footer>
    <br>
    <br>
    <hr/>
    This project uses images provided by "7soul1" / Henrique Lazarini, under the Creative Commons Attribution 3.0 License.
  <hr/>
</footer>
</div>
</html>
