<p>Create a new Character Class!</p>

<br>
<form action="/cclass" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name" id="name">
  <br>
  <br>
  <input type="submit" value="Create Character Class">
</form>
