<p>This is all the Items</p>

<hr/>

<% @items.each do |item| %>
<img src="images/<%= item.image_name %>" alt="Item Image" height="42" width="42">
<p>Name: <%= item.name %></p>
<p>Quantity: <%= item.quantity %></p>

<a href="/shop/<%=item.id %>">Details</a>
<hr/>
<% end %>
