<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Adventurer's Shop!</title>
  </head>

  <nav>
    <ul>
      <li>
        <a href="/shop">Index Page</a>
      </li>
      <li>
        <a href="/shop/new">Add Item</a>
      </li>
    </ul>
  </nav>
  <body>

    Welcome to the Adventurer's Shop!

    <%= yield %>

  </body>
</html>
