<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Adventurer's Shop!</title>
  </head>
  <body>
    
    Welcome to the Adventurer's Shop!

    <%= yield %>

  </body>
</html>
