<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Adventurer's Shop!</title>
  </head>

  <nav>
    <ul>
      <li>
        <a href="/shop">Index Page</a>
      </li>
      <li>
        <a href="/shop/new">Add Item</a>
      </li>
      <li>
        <a href="/types">Type List</a>
      </li>
      <li>
        <a href="/cats">Category List</a>
      </li>
    </ul>
  </nav>
  <body>

    Welcome to the Adventurer's Shop!

    <%= yield %>

  </body>
  <footer>
    <br>
    <br>
    <hr/>
    This project uses images provided by "7soul1" / Henrique Lazarini, under the Creative Commons Attribution 3.0 License.
  <hr/>
</footer>
</html>
