<p>This is the selected type</p>

<hr/>

<p>Name: <%= @type.name %></p>
<p>Category: <%= @type.category %></p>
<p>Usable By: <%= @type.usable_by %></p>
<hr/>
<nav>
  <ul>
    <li>
      <a href="#">Edit Type</a>
    </li>
    <li>
      <% if @type.item_count >= 1 %>
      <p>Delete Type</p>
      <% else  %>
      <a href="/types/del/<%=@type.id %>">Delete Type</a>
      <% end  %>
    </li>
  </ul>
</nav>

<hr/>
