
<p>New Type</p>


<br>
<form action="/types" method="post">
  <label for="name">Name:</label>
  <input class="formfmt" type="text" name="name" id="name">
  <br>
  <br>

  <label for="category_id">Type:</label>
  <select class="formfmt" name="category_id" id="category-id">
  <% @categories.each do |cat| %>
      <option value=<%= cat.id %>><%= cat.name %> (<%= cat.name %>)</option>
  <% end %>
  </select>
  <br>
  <br>
  <input class="formfmt" type="submit" value="Create Type">
</form>
