<h2>Type List</h2>
<a href="/types/new">Add New Type</a>

<hr/>

<div class="itembound">
  <% @types.each do |type| %>
  <div class="indexitem">
    <div>Name: <%= type.name %></div>
    <div>Category: <%= type.category.name %></div>
    <div>Usable By: </div>

    <div class="cclasslist">
        <% type.usable_by.each do |cclass| %>
          <div class="textitem"><%=cclass.name%></div>
        <% end %>
    </div>

    <a href="/types/<%=type.id %>">Details</a>

  </div>
  <% end %>
</div>
