<p>This is all the Types</p>

<ul>
  <li>
    <a href="/types/new">Add New Type</a>
  </li>
</ul>

<hr/>

<% @types.each do |type| %>
<p>Name: <%= type.name %></p>
<p>Category: <%= type.category.name %></p>
<p>Usable By: <br>
<% type.usable_by.each do |cclass| %>
<%=  cclass.name %> <br>
<% end %>
</p>

<a href="/types/<%=type.id %>">Details</a>

<hr/>
<% end %>
