<h2><%= @type.name %></h2>

<p>Category: <%= @type.category.name %></p>

<div class="bottomnav">
  <a class="attrlist" href="/types/edit/<%=@type.id %>">Edit Type</a>

  <% if @type.item_count >= 1 %>
  <p>Delete Type</p>
  <% else  %>
  <a class="attrlist" href="/types/del/<%=@type.id %>">Delete Type</a>
  <% end  %>
</div>

<hr/>
