<p>Edit Type</p>

<br>
<form action="/types/<%= @type.id %>" method="post">
  <label for="name">Name:</label>
  <input class="formfmt" type="text" name="name" id="name" value="<%= @type.name %>">
  <br>
  <br>
  <label for="category">Category:</label>
  <input class="formfmt" type="text" name="category" id="category" value="<%= @type.category.name %>">
  <br>
  <br>
  <input class="formfmt" type="submit" value="Update Type">
</form>
