
<p>Create a new Class-Type Relationship!</p>

<br>
<form action="/ctrel" method="post">
  <select name="type_id" id="type-id">
  <% @types.each do |type| %>
      <option value=<%= type.id %>><%= type.name %></option>
  <% end %>
  </select>
  <br>
  <br>

  <select name="cclass_id" id="cclass-id">
  <% @cclasses.each do |cclass| %>
      <option value=<%= cclass.id %>><%= cclass.name %></option>
  <% end %>
  </select>

  <br>
  <br>
  <input type="submit" value="Create Relationship">
</form>
