
<p>Create a new Class-Type Relationship!</p>

<br>
<form action="/ctrel" method="post">
  <label for="type_id">Type Id:</label>
  <input type="text" name="type_id" id="type_id">
  <br>
  <br>
  <label for="cclass_id">Character Class Id:</label>
  <input type="text" name="cclass_id" id="cclass_id">
  <br>
  <br>
  <input type="submit" value="Create Relationship">
</form>
