<h2>Item Types Usable By Character Class</h2>


    <a href="/ctrel/new">Add New Relationship</a>
<hr/>

<div class="itembound">
<% @ctrels.each do |ctrel| %>
<div class="indexitem">
<div>Type: <%= ctrel.type.name %></div>
<div>Class: <%= ctrel.c_class.name %></div>

<a href="/ctrel/del/<%=ctrel.id %>">Delete</a>

</div>
<% end %>
</div>
