<h2>Class-Type Relationship List</h2>


    <a href="/ctrel/new">Add New Relationship</a>
<hr/>

<div class="itembound">
<% @ctrels.each do |ctrel| %>
<div class="indexitem">
<p>Type: <%= ctrel.type.name %></p>
<p>Class: <%= ctrel.c_class.name %></p>

<a href="/ctrel/del/<%=ctrel.id %>">Delete</a>

</div>
<% end %>
</div>
